.homepage {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--text-color);
  background-image: url("../../assets/bg.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .position{
    font-size: 2rem;
  }

  h1{
    font-size: 4rem;
    color: var(--accent-color);
  }

  h2{
    // font-size: large;
    span{
      font-size: medium;
    }
  }
}

@media (min-width: 768px) {
  .homepage {
    
  }
}
