.dashboard {
  z-index: 4;
  max-height: 34%;
  position: relative;
  max-width: 100%;
  background-color: black;
  text-align: center;
  color: var(--text-color);
  text-decoration: none;
  a {
    text-decoration: none;
    color: var(--text-color);
    &:hover {
      color: var(--accent-color);
      cursor: pointer;
    }
  }
  img {
    border: 1px solid black;
    border-radius: 50%;
    width: 20%;
    padding: 10px;
  }

  h1 {
    font-size: 16px;
  }

  .hide {
    display: none;
    transition: display 0.3s ease-in-out;
  }

  .toggle_button {
    z-index: 6;
    &:hover {
      color: var(--secondary-color);
      cursor: pointer;
    }
  }

  .nav,
  .socials {
    display: none;
  }

  .mobileNav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: all 0.3s ease-in-out;

    li {
      margin: 5px;
      list-style: none;
    }
  }

  .mobileSocials {
    span {
      margin: 5px;
      &:hover {
        color: var(--accent-color);
        cursor: pointer;
      }
    }
  }
}

.wrapper {
  position: absolute;
  top: 0;
  background-color: var(--shadow-color);
  //   background-color: rgba(255, 0, 0, 0.308);
  height: 100vh;
  width: 100vw;
}

@media (min-width: 768px) {
  /* Styles for screens with a width between 769px and 1024px (e.g., tablets) */
  .dashboard {
    z-index: 4;
    position: relative;
    min-height: 100vh;
    max-width: 100%;
    // background-color: var(--primary-color);
    color: var(--text-color);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    img {
      margin-top: 5%;
      border: 1px solid black;
      border-radius: 50%;
      width: 50%;
      max-width: 100%;
      padding: 10px;
    }

    .toggle_button {
      display: none;
    }

    .nav {
      font-size: large;
      display: block;
      transition: all 0.3s ease-in-out;
      margin: 30px;

      li {
        // width: 85%;
        margin: 15px 0 15px 0;
        list-style: none;
        &:hover {
          color: var(--accent-color);
          cursor: pointer;
        }
      }
    }

    .socials {
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      width: 100%;
      span {
        margin: 15px;

        &:hover {
          color: var(--secondary-color);
          cursor: pointer;
        }
      }
    }

    .mobileNav,
    .mobileSocials {
      display: none;
    }
  }
}
