@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400&family=Roboto&display=swap');
:root{

  --primary-color: #1a1617;
  --secondary-color:#0e458d;
  --accent-color:#ce910c;
  --text-color:#f7f7f7;
  --shadow-color: #0404046e;
}


* , :after, :before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 15px;
  
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Roboto'; */
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
